<h1 class="mb-4">Edit answer</h1>

<%= form_with model: [@question, @answer], data: {turbo: false} do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :body %>
    </div>

    <div class="col-sm-10">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit "Update question!", class: 'btn btn-primary' %>
<% end %>

